html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#infra-workshop-layout-nav-container.rmd-layout-navigation {
  width: 240px;
  max-width: 240px;
}

#infra-workshop-layout-nav-container .navText {
  white-space: nowrap;
}
